<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Brands</h2>
<a href="/admin/brands/add-brand" class="btn btn-primary">Add a new brand</a>
<br><br>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Brand</th>
            <th>Warehouse</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% brands.forEach(function(brnd){ %>
        <tr>
            <td><%= brnd.name %></td>
            <td><%= brnd.warehouse %></td>
            <td class="CartProductThumb">
                <div>                                                                              
                    <% if (brnd.image == "" || !brnd.image) { %>
                        <img id="noimage" src="/images/noimage.jpeg">
                    <% } else {%>
                        <img id="noimage" src="<%=brandImageUrl %>/<%= brnd.image %>">
                    <% }%>                                             
                </div>
            </td>
            <td><a href="/admin/brands/edit-brand/<%= brnd._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/brands/delete-brand/<%= brnd._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../_layouts/adminfooter') %>