<%- include('../_layouts/adminheader') %>

<link href="assets/css/invoice.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

<div class="container main-container">
  <div class=" invoice-wrapper content">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12 col-xs-12" id="invoicePrint">
        <h1 class="section-title-inner">
          <span>
            <img src="/images/logo.png" alt="Company"/> Invoice
            <!-- <i class="fa fa-print"></i> -->
          </span>
        </h1>
        <div class="row userInfo">
          <div class="col-lg-12">
            <h2 class="block-title-2 text-left">Invoice Details</h2>
          </div>

          <div class="col-sm-6 col-md-6" style="height: 210px;">
            <table class="w100">
              <tr>
                <td>
                  <div class="invInfo text-left">
                    <h3>
                      <span><strong>Thipuj Ltd </strong></span>
                    </h3>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>75 Brimsdown Road</h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Enfield</h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>EN3 5EP</h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>VAT No:&nbsp;<strong>242217538</strong></h4>
                </td>
              </tr>
            </table>

            <!-- <hr class="invHr" /> -->
          </div>
          <div class="col-sm-6 col-md-6" style="height: 150px;">
            <div class="order-box">
              <div class="order-box-header">
                Sold To:
              </div>

              <div class="order-box-content">
                <div class="address">
                  <p>
                    <strong><%=order.user.name%></strong>
                  </p>
                  <p><%=order.user.address_line1%></p>
                  <p><%=order.user.city%></p>
                  <p><%=order.user.county%></p>
                  <p><%=order.user.postcode%></p>
                  <p>
                    Invoice Ref:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><%=order.orderNo.toUpperCase() %></strong>
                  </p>
                  <p>
                    Invoice Date:&nbsp;&nbsp;&nbsp;&nbsp;<strong>
                      <span id="invoiceDate"><%= order.date; %></span></strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-12" style="height:40px;">
            <table class="w100">
              <tr>
                <td>
                  <div class="invInfo text-left">
                    <h3>
                      <span
                        ><strong>Invoice Ref:&nbsp;</strong><%=order.orderNo %> </span
                      >&nbsp;&nbsp;
                      <span><%=order.date.toDateString() %></span>
                    </h3>
                  </div>
                </td>
              </tr>
            </table>

            <hr class="invHr" />
          </div> -->
          <!-- <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
            <div class="order-box">
              <div class="order-box-header">
                Sold To:
              </div>

              <div class="order-box-content">
                <div class="address">
                  <p>
                    <strong><%=order.user.name%></strong>
                  </p>
                  <p><%=order.user.address_line1%></p>
                  <p><%=order.user.city%></p>
                  <p><%=order.user.county%></p>
                  <p><%=order.user.postcode%></p>
                  <p><%=order.user.telephone%> </p>
                  <p><%=order.user.email%></p>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
            <div class="order-box"> -->
              <!-- <div class="order-box-header">
                Other Details:
              </div> -->

             <!--  <div class="order-box-content">
                <div class="address">
                  <p>
                    Invoice Ref:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><%=order.orderNo %></strong>
                  </p>
                  <p>
                    Invoice Date:&nbsp;&nbsp;&nbsp;&nbsp;<strong><%=order.date.toDateString() %></strong>
                  </p>
                  <p>
                    VAT No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>242217538</strong>
                  </p>
                </div>
              </div>
            </div>
          </div> -->

          <div style="clear: both"></div>

          <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 clearfix">
            <div class="order-box invTable">
              <div class="order-box-header">
                Order Details
              </div>

              <div class="order-box-content ">
                <div class="table-responsive">
                  <table class="orderTable table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Product Code</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>Discount</th>
                        <!-- <th>Discount Amt</th> -->
                        <th>Sub Total</th>
                        <!-- <th>VAT</th>
                        <th>Total</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <% subTotalAmtAll = 0%>
                      <% vatTotalAmt = 0%>
                      <% productBrand = ''%>
                      <% discountName = ''%>
                      <% order.items.forEach((item, index) => {%>
                      <tr>
                        <td align="center" scope="row"><%=index + 1%></td>
                        <td align="left"><%=item.title%></td>
                        <td align="center"><%=item.product_code%></td>
                        <td align="center"><%=item.qty%></td>
                        <td align="center"><%=parseFloat(item.price).toFixed(2)%></td>
                        <td align="center">
                          <!-- check if discount matches to title of product -->
                          <% if(order.user && order.user.discount_code && order.user.discount_code[0]) { %>
                          <% discount = order.user.discount_code[0].split("-")[1]; %>
                          <% discountName = order.user.discount_code[0].split("-")[0]; %>
                          <% productBrand = item.title.split("-")[0] %> 
                          <% if(productBrand.toLowerCase() == discountName.toLowerCase()) { %> 
                            <%= discount %>
                            <% } else {%>
                              NA
                            <% }%>
                          <% } else {
                            discount = 0
                          %>
                            NA
                          <% } %>
                        </td>
                        <!-- <td>
                           <% if(productBrand == discountName) { %>
                          <% subTotalAmt = parseFloat(item.qty * item.price).toFixed(2)%>
                          <% discountAmt = parseFloat((subTotalAmt/100) * discount).toFixed(2)%>
                          <%= discountAmt %>

                          <% } else {%>
                            NA
                          <% } %>
                          
                        </td> -->
                        <!-- if discount subtract from sub total -->
                        <td align="center">
                          <% if(productBrand && discountName && productBrand != '' && productBrand.toLowerCase() == discountName.toLowerCase()) { %>
                          <% subTotalAmt = parseFloat(item.qty * item.price).toFixed(2)%>
                          <% discountAmt = parseFloat((subTotalAmt/100) * discount).toFixed(2)%>
                          <%= subTotalAmt = parseFloat(subTotalAmt - discountAmt).toFixed(2) %>
                          <% subTotalAmtAll = parseFloat(parseFloat(subTotalAmtAll) + parseFloat(subTotalAmt)) %>
                          <% } else {%>
                            <% subTotalAmt = parseFloat(item.qty * item.price).toFixed(2)%>
                            <% subTotalAmtAll = parseFloat(parseFloat(subTotalAmtAll) + parseFloat(subTotalAmt)) %>
                            <%= subTotalAmt%>
                          <% } %>
                        </td>
                        <td>
                          <%if(item.vat){ %>
                        <!-- <td align="center"> -->
                          <% totalAmount = subTotalAmt%>
                          <% vatAmt = parseFloat((totalAmount/100) * 20).toFixed(2)%>
                          <% vatTotalAmt = parseFloat(parseFloat(vatTotalAmt) + parseFloat(vatAmt))%>
                          <% totalAmount = parseFloat(parseFloat(totalAmount) + parseFloat(vatAmt)).toFixed(2)%>
                          <% } %>
                       <!--  </td> -->
                      </tr>
                      <%})%>

                      <tr class="invTableFooter">
                        <td colspan="10">
                          <table
                            width="200"
                            cellspacing="0"
                            cellpadding="6"
                            border="0"
                            align="right"
                          >
                            <tbody>
                              <tr>
                                <td valign="middle" align="left">
                                  <div>
                                    <span>
                                      Subtotal
                                    </span>
                                  </div>
                                </td>
                                <td valign="middle" align="right" class="">
                                  <div>
                                    <span>
                                      £ <%=parseFloat(subTotalAmtAll).toFixed(2)%>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  valign="middle"
                                  align="left"
                                  class=""
                                  style=""
                                >
                                  <div style="">
                                    <span>
                                      VAT
                                    </span>
                                  </div>
                                </td>
                                <td
                                  valign="middle"
                                  align="right"
                                  class="title_color"
                                >
                                  <div>
                                    <span class="text_container">
                                      £ <%=parseFloat(vatTotalAmt).toFixed(2)%>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                              <tr bgcolor="#ECF0F1" class="price">
                                <td valign="middle" align="left">
                                  <div>
                                    <span class="">
                                      Total
                                    </span>
                                  </div>
                                </td>
                                <td style="text-align: right">
                                  <div>
                                    <span class="price-total">
                                      £ <%=parseFloat(parseFloat(subTotalAmtAll) + parseFloat(vatTotalAmt)).toFixed(2)%>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div style="clear: both"></div>

          
        </div>
        <!--/row end-->
      </div>
      <div class="col-lg-12 clearfix hidePrint">
        <ul class="pager">
          <li class="previous pull-right">
            <a class="btn btn-print" onclick="printInvoice('invoicePrint')">
              <i class="fa fa-print"></i> Print
            </a>
          </li>
          <li class="next pull-left">
            <a href="/admin/orders/<%=order._id%>"> ← Back to Order</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  function printInvoice(divName){
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>

<%- include('../_layouts/adminfooter') %>
